# Python cache
__pycache__/
*.pyc

# Bases de datos locales
*.db
production_log.db
supreme_predictions.db

# Imágenes generadas automáticamente
*.png

# Variables de entorno
.env

# Entornos virtuales (por si llegas a crear uno)
venv/
env/
.venv/
